# Chave da API OpenRouter (LLM principal) / key for OpenRouter API (Main LLM)
OPENROUTER_API_KEY=sua_chave_aqui

# Chave da API Groq (LLM fallback 1) / key for Groq API (LLM fallback 1)
GROQ_API_KEY=sua_chave_aqui

# Chave da API Google Gemini (LLM fallback 2) / key for Google Gemini API (LLM fallback 2)
GEMINI_API_KEY=sua_chave_aqui

# Chave da API OpenAI (usado pelos embeddings) / key for OpenAI API (used for embeddings)
OPENAI_API_KEY=sua_chave_aqui
